@tailwind base;
@tailwind components;
@tailwind utilities;

.cool-shadow {
    box-shadow: 0 4px 14px 0 rgba(0,0,0,0.1);
}
.blue-shadow {
    box-shadow: 0 6px 20px rgba(0,118,255,0.23);
}

.hover\:blue-shadow:hover {
    box-shadow: 0 6px 20px rgba(0,118,255,0.23);
}
